.content-container {
    padding: 10px;
    overflow: auto;
    max-height: 640px;
}

.title {
    margin-top: 3px;
    margin-bottom: 8px;
}

.pane {
    overflow: scroll;
    height: 700px;
}

.button-container {
    border-top: 1px solid #c3c3c3;
    padding-top: 5px;
}